.news-img{
	/*width: 800px !important;*/
	width: 100%;
}
.page-div{
	/*margin-left: 20%;*/
	/*width: 60%;*/
}
.page-div div p{
	color: #8C8C8C;
}
.p-t{
	font-weight: 800;
	font-size: 1.7em;
	margin-bottom: 30px;
}
p{
	text-indent: 35px;
	margin: 20px 0 20px;
}
img{
	margin: 10px 0 10px;
}
.updown>p{
	margin: 20px 0 20px;
	font-size: 1.3em;
	font-weight: 500;
	color: black;
}
a{
	text-underline: initial;
}
.updown>p>a:hover{
	color: #EA3F4F;
	
}
.jc{
	color: black !important;
	font-size: 1.4em;
}

.header-top-logo {
		display: inline-block;
		width: 200px;
		height: 42px;
		background: url(../images/main/icon.png) no-repeat;
		margin-top: 9px;
	}
	
@media only screen and (min-width: 1200px) {
	.page-div{
	margin-left: 20%;
	width: 60%;
}
}
	
@media only screen and (max-width: 768px) {
	.img-center{
		width:80%;
		margin-left: 10%;
	}
}